<div>
  <h1>Weather Forecast</h1>

  <% if @forecast %>
    <h2>Forecast for <%= @forecast.address %></h2>
    <p>Current Temperature: <%= @forecast.current_temperature %>°F</p>
    <% if @forecast.high_temperature && @forecast.low_temperature %>
      <p>High: <%= @forecast.high_temperature %>°F, Low: <%= @forecast.low_temperature %>°F</p>
    <% end %>
    <% if @forecast.cached? %>
      <p><em>Data retrieved from cache.</em></p>
    <% end %>
  <% else %>
    <p>No forecast data available. Please try again.</p>
  <% end %>
</div>